<h1 class="ui header">
    <i class="circular language icon"></i>
    <div class="content">
        {{ 'abenmada_translation_plugin.ui.translations' | trans }}
        <div class="sub header">{{ 'abenmada_translation_plugin.ui.manage_your_translations' | trans }}</div>
    </div>
</h1>
